body{background-color:silver; }
#header{
background-color:#FFAB00;
margin:20px 30px 30px 30px;
}
h1{
font-family:Tahoma;
font-weight:bold;
}
p{
text-align: center;
padding-bottom:10px;
}
table{
	background-color: #005747;
	border: 3px outset gray;
	margin-left: auto;
    margin-right: auto;
	
}